<div id="<%= dom_id memo %>">
  <p>
    <strong>User:</strong>
    <%= memo.user %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= memo.content %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= memo.draft ? "下書き" : "公開" %>
  </p>

</div>
